@import '../constants.scss';

.bar {
  background-color: $bgColor ! important;

  color: $titleColor;
  .title {
    margin-left: 1rem;
    font-weight: bolder;
    color: $titleColor;
  }
  .search {
    padding: 0px;
  }
  
  .close {
    display: none !important;
  }
  
  .table {
    table-layout: unset !important;
  }
  
  .save {
    display: flex;
    align-items: center;
    background: lightgray;
    margin-right: 2rem;
  
    .button {
      margin-left: 0.3rem;
    }
  }
}
