.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position:absolute;

  .header {
    width: 100%;
    background: grey;
    display: flex;

    .title{
      flex: 1;
    }
  }

  .northLayout {
    display: flex;
    flex: 2;
    // padding: 0.5rem;

    .right {
      flex: 1;
      height: 100%;
      max-width: 50%;
      // background: green;
    }

    .left {
      flex: 1;
      height: 100%;
    }
  }
  
  .southLayout {
    display: flex;
    flex: 5;
    position: relative;
  }
}
