.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position:absolute;
  overflow-y: hidden;

  .header {
    width: 100%;
    background: grey;
    display: flex;

    .title{
      flex: 1;
    }
  }

  .full {
    flex: 1;
  }

  .northLayout {
    display: flex;
    flex: 2;
    // padding: 0.5rem;

    .right {
      flex: 2;
      max-width: 67%;
      height: 100%;
    }

    .left {
      flex: 1;
      min-width: 33%;
      height: 100%;
    }
  }
  
  .southLayout {
    display: flex;
    flex: 5;
    position: relative;
  }
}
